<div class="relative bg-white dark:bg-gray">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
            <div class="flex justify-between">
                <div>
                    <!-- <a href=" #">
                        <span class="sr-only">Workflow</span>
                        <img class="h-8 w-auto sm:h-10"
                            src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
                    </a> -->
                    <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Booxy</h2>
                </div>
                <div>
                    <div class="mt-1 relative rounded-md shadow-sm">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <span class="text-gray-500 sm:text-sm">
                                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                            </span>
                        </div>
                        <input type="text" name="searchInput" id="searchInput"
                            class="placeholder:text-slate-400 focus:ring-orange-500 focus:border-orange-500 block w-full pl-10 pr-20 sm:text-sm border-gray-300 rounded-md shadow-md"
                            placeholder="Rechercher" (change)="searchBooks($event.target)">
                    </div>
                </div>
                <div>
                    <a href=" #">
                        <fa-icon class="w-8 h-8" [icon]="faCodeFork"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>