<div class="bg-black">
    <div class="px-4 py-5 shadow-xl sm:px-6">
        <div class="flex justify-between">
            <div>
                <img class="h-12 md:inline-block md:h-14 md:mb-2" src="../../assets/images/Booxy_Logo_Temp.svg">
                <span class="hidden text-2xl font-bold text-orange-300 md:inline-block ml-2 ">Boo<span
                        class="text-white">xy</span>
                    <span class="hidden text-sm font-light text-orange-300 md:block">Gutenberg Project, en
                        mieux :D</span>
                </span>

            </div>
            <div>

                <div class="mt-1 relative rounded-md shadow-sm">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                        <span class="text-gray-500 sm:text-sm">
                            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                        </span>
                    </div>
                    <input (change)="searchBooks($event.target)" type="text" name="price" id="price"
                        class="focus:ring-orange-300 focus:border-orange-300 bg-slate-800 block w-full pl-7 pr-12 sm:text-sm border-orange-300 border-2 rounded-md">
                </div>
            </div>

        </div>
    </div>
</div>