/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
// html, body { height: 100%; }



.dialog-responsive {
    width: 50%;
    height: 50%;
}

@media only screen and (max-width: 1024px) {
    .dialog-responsive {
        width: 70%;
        height: 50%;
        min-width: 300px;
    }
}