<div class="flex items-center justify-center">
    <div class="bg-white rounded-3xl border shadow-xl p-8 w-3/6">
        <div class="flex justify-between items-center mb-4">
            <div class="shrink-0 w-60">
                <img src="../../../assets/images/pg49345.cover.medium.jpg">
            </div>
            <div class="grid gap-2">
                <div>
                    <h3 class="font-semibold text-sm text-gray-400">Title</h3>
                    <h1 class="font-semibold text-sm text-gray-700">
                        The Declaration of Independence of the United States of America</h1>
                </div>
                <div>
                    <h3 class="font-semibold text-sm text-gray-400">Language</h3>
                    <h1 class="font-semibold text-sm text-gray-700">
                        en</h1>
                </div>
                <div>
                    <h3 class="font-semibold text-sm text-gray-400">Right</h3>
                    <h1 class="font-semibold text-sm text-gray-700">
                        Public domain in the USA.</h1>
                </div>
                <div>
                    <h3 class="font-semibold text-sm text-gray-400">Subject</h3>
                    <ul>
                        <li>
                            <h1 class="font-semibold text-sm text-gray-700">
                                History</h1>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="font-semibold text-sm text-gray-400">Cover</h3>
                    <h1 class="font-semibold text-sm text-gray-700 link-words">
                        https://www.gutenberg.org/cache/epub/1/pg1.cover.medium.jpg</h1>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>